<div class="w3-container">
  <h2>User Detail</h2>

  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3>{{userDetail['title']}}</h3>
    </header>
    <div class="w3-container">
      <p>{{userDetail['body']}}</p><br>
    </div>
  </div>
</div>