<div class="w3-container">
  <h2>Users</h2>
  <div class="ng-autocomplete" style="margin-bottom: 23px;">

    <ng-autocomplete [data]="users" searchKeyword="name" (selected)='selectEvent($event)' [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>

  </div>
  <ul class="w3-ul w3-card-4">
    <div class="w3-bar" *ngFor='let user of users; let i = index'>
      <a routerLink='{{user["id"]}}/detail'>
        <li>
          <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large">{{user['name']}}</span><br>
            <span>{{user['email']}}</span>
          </div>
        </li>
      </a>
    </div>
  </ul>
</div>

<button class="w3-button w3-block w3-teal" (click)='export()'>Get CSV</button>